
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>FITNESS</h2>

                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <a href="./activite"><i class=""></i>ACTIVITÉS </a>
                        <a href="/fitness"><i class=""></i>FITNESS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


  <section style="background-color: rgba(128, 128, 128, 0.11);" class="register-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="register-text">
                    <div class="section-title">
                        <h2 style="color: brown;">FITNESS</h2>
                        <br>
                        <img  src="assets/img/icon/timer.png"><strong>Durée du cours :</strong>55 min</div>



                        <div class="section-title">
                          <img  src="assets/img/icon/folder.png"><strong>Matériel utilisé :</strong>Aucun
                         </div>
                         <div class="section-title">
                          <img  src="assets/img/icon/intensite.png">  <strong>Intensité :</strong> Haute intensité
                       </div>
                       <div class="section-title">
                        <img  src="assets/img/icon/bodybuilding.png">  <strong>Groupes musculaires sollicités :</strong>Travail réactif du centre du corps
                     </div>

                          <div class="section-title">
                          <img  src="assets/img/icon/sport.png">  <strong>Tenue recommandée :</strong> Vêtements confortables, chaussures de sport.
                       </div>
                       <br>

                       <div class="section-title">
                        <img  src="assets/img/icon/idea.png">  <strong>Recommandations :</strong>  Pensez à ramener une serviette et une bouteille d’eau.
                     </div>

                     </div></div>
                     <div class="col-lg-4">
                      <div class="pic">
                        <br><br><br><br>
                          <img src="assets/img/activite/f.jpg" alt="" style="margin: 60px;">
                      </div>
                  </div>
                </div>
        </div>

</section>

