
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>COURS</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <span>COURS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->



<!-- Classes Section Begin -->
 <section class="classes-section classes-page spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2 style="color: aliceblue;">COURS ILLIMITÉS</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-1.jpg">
                  <div class="si-text">
                      <h4>Yoga</h4>
                      <span><i class="fa fa-user"></i> Ryan Knight</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-4.jpg">
                  <div class="si-text">
                      <h4>Karate</h4>
                      <span><i class="fa fa-user"></i> Kevin McCormick</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-2.jpg">
                  <div class="si-text">
                      <h4>Running</h4>
                      <span><i class="fa fa-user"></i> Randy Rivera</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-5.jpg">
                  <div class="si-text">
                      <h4>Dance</h4>
                      <span><i class="fa fa-user"></i> Russell Lane</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-3.jpg">
                  <div class="si-text">
                      <h4>Personal Training</h4>
                      <span><i class="fa fa-user"></i> Cole Robertson</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-6.jpg">
                  <div class="si-text">
                      <h4>Weight Loss</h4>
                      <span><i class="fa fa-user"></i> Ryan Scott</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-7.jpg">
                  <div class="si-text">
                      <h4>Box</h4>
                      <span><i class="fa fa-user"></i> Chester Bowen</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-8.jpg">
                  <div class="si-text">
                      <h4>Cardio</h4>
                      <span><i class="fa fa-user"></i> Jorge Fernandez</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-8.jpg">
                  <div class="si-text">
                      <h4>Crossfit</h4>
                      <span><i class="fa fa-user"></i> Chester Bowen</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Classes Section End -->
