
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>INSCRIPTION</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <span>INSCRIPTION</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


  <!-- Register Section Begin -->
   <section style="background-color: rgba(128, 128, 128, 0.11);" class="register-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="register-text">
                    <div class="section-title">
                        <h2>Inscrivez-vous </h2>
                    </div>

                    <form action="#" class="register-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="name">Nom</label>
                                <input type="text" id="name">
                            </div>

                            <div class="col-lg-6">
                                <label for="last-name">Prenom</label>
                                <input type="text" id="last-name">
                            </div>
                            <div class="col-lg-6">
                              <label for="email">Email</label>
                              <input type="text" id="email">
                          </div>
                            <div class="col-lg-6">
                                <label for="mobile">Telephone</label>

                                <input type="text" id="mobile" >
                            </div>
                            <div class="col-lg-6">
                              <label for="pass">Mots De Passe </label>

                              <input type="text" id="password" >
                          </div>
                          <div class="col-lg-6">
                            <label for="date">Date de Naissance</label>
                            <input type="date" id="dt" >
                        </div>
                        <div class="col-lg-6">
                          <label for="number">Age</label>
                          <input type="number" id="age" >
                      </div>
                        <div class="col-lg-6">
                          <label for="mobile">Poids</label>

                          <input type="number" id="pd" >
                      </div>
                      <div class="col-lg-6">
                        <label for="taille">Taille</label>

                        <input type="number" id="tl" >
                    </div>
                    <div class="col-lg-6">
                      <label>Type de Sport</label>
                      <select class="js-example-basic-single" style="width: 100%;">
                        <option value="AL">FITNESS </option>
                        <option value="WY">ZUMBA</option>
                        <option value="AM">TAEKWANDO</option>
                        <option value="CA">BODYATTACK</option>
                        <option value="RU">Russia</option>
                      </select>
                    </div>
                    <div class="col-lg-6">
                      <label>Role</label>
                      <select class="js-example-basic-single" style="width: 100%;" >
                        <option value="AL">Abonne  </option>
                        <option value="WY">Entraineur</option>
                      </select>
                    </div>


                        </div>
                        <button type="submit" class="register-btn">Créer un compte </button>
                        <div style="text-align:center">
                          <p>Avez-vous déjà un compte? <a routerLink="/login"> Se Connecter.</a></p>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="register-pic">
                    <img src="assets/img/image1.jpg" alt="" style="margin: 60px ;">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Register Section End -->
